* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h3 {
    font-family: "Barlow Condensed";
    font-size: 2em;
}

h4 {
    font-size: 1.2em;
}

body {
    background-color: floralwhite;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    color: darkslategray;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2vh;
}

a {
    color: slategray;
}

a:hover {
    color: darkslategray;
}
