#registration,
#login,
#reset,
#send-code {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

#registration,
#login,
#reset,
#send-code label {
    font-size: 0.9em;
    font-weight: 500;
}

.errorfield {
    border-color: red;
}

.loggedout-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}

.loggedout-container p:first-of-type {
    margin-top: 4vh;
}

.loggedout-container img {
    width: 40vw;
    margin: 3vh 0;
}

.loggedin-container {
    display: flex;
    width: 95vw;
    justify-content: flex-start;
    align-items: center;
    gap: 3vw;
}

.navmenu {
    display: flex;
    width: 50%;
    gap: 0.2vw;
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}
.navmenu a {
    color: darkslategrey;
    text-decoration: none;
    background-color: salmon;
    padding: 2vh 2.5vw;
    border: 1px solid transparent;
    border-radius: 3px;
    /* clip-path: polygon(3% 0%, 100% 0%, 97% 100%, 0% 100%); */
}

.navmenu a:hover {
    color: snow;
    background-color: darkorange;
}

.active {
    color: snow !important;
    text-decoration: none;
    background-color: darkorange !important;
}

.profile-container {
    align-self: flex-start;
    display: grid;
    width: 45vw;
    grid-template-columns: 1fr 1.5fr;
    margin-top: 2vh;
    /* margin left calculated based on space occupied by top items */
    margin-left: 16vw;
}

.profile-container #avatar {
    border-radius: 5%;
    width: 15vw;
    height: 15vw;
    margin-left: 0;
}

.name-bio-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#bio {
    line-height: 1.5em;
    margin-top: 2vh;
    font-size: 0.9em;
}
.uploader-container {
    width: 30vw;
    position: fixed;
    align-self: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    /* stretch the overlay */
    inset: 0;
    z-index: 99;
}

#uploader {
    background-color: whitesmoke;
    border: 1px solid transparent;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2vw;
    width: 100%;
    gap: 2vh;
}

#close-uploader {
    align-self: flex-end;
    cursor: default;
    margin: 0;
    font-size: 1em;
    font-family: "Montserrat", sans-serif;
}

#upload-avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#avatar {
    width: 6vw;
    height: 6vw;
    object-fit: cover;
    border: 1px solid transparent;
    border-radius: 50%;
}

#logo {
    width: 10vw;
    object-fit: contain;
    margin-right: 3vw;
}

.people,
.friends,
.chat {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
    margin-top: 3vh;
    align-items: flex-start;
    margin-left: 16vw;
}

.people-container {
    display: grid;
    width: 30vw;
    grid-template-columns: 1fr 1fr;
    justify-items: start;
    align-items: center;
    margin-top: 1vh;
}

.chat-container {
    display: flex;
    /* use column reverse to have the last chat message appear at the end of the scroll */
    flex-direction: column-reverse;
    width: 45vw;
    height: 40vh;
    justify-items: start;
    overflow-y: auto;
    padding: 1vh 1vw;
    background-color: rgba(211, 211, 211, 0.5);
    border-top: 2px solid darkorange;
    border-bottom: 2px solid darkorange;
}

.chat-cell {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 6fr;
    justify-items: start;
    margin-top: 3vh;
}

.chat-cell img {
    border: 1px solid transparent;
    border-radius: 50%;
    width: 5vw;
    height: 5vw;
    object-fit: cover;
}

.chat-text-posted {
    line-height: 1.5em;
}

.chat-text-posted p:last-of-type {
    font-size: 0.9em;
    margin-top: 1vh;
}

.chat-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.people-container img,
.friends-container img {
    border-radius: 5%;
    width: 8vw;
    height: 8vw;
    object-fit: cover;
}

hr {
    align-self: stretch;
}

.other-profile-container img {
    border-radius: 5%;
    width: 12vw;
    height: 12vw;
    object-fit: cover;
}

button,
#submit {
    background-color: salmon;
    color: floralwhite;
    font-size: 0.9em;
    text-transform: uppercase;
    font-weight: 400;
    border: 1px solid transparent;
    border-radius: 6px;
    padding: 0.7vw;
    margin-top: 1.5vh;
}

#submit {
    font-size: 1.2em;
}

button:hover,
#submit:hover {
    background-color: darkorange;
}

button:active,
#submit:active {
    transform: translateY(2px);
}

.friend-button {
    font-size: 0.9em;
    text-transform: none;
    padding: 0.5vw;
    letter-spacing: 0.05em;
    margin-top: vh;
}

.friend-button:hover {
    background-color: darkorange;
}

.deny-friend-button,
.unfriend {
    background-color: slategray;
    font-size: 0.9em;
    text-transform: none;
    padding: 0.5vw;
    letter-spacing: 0.05em;
    margin-top: 1vh;
}

.deny-friend-button:hover,
.unfriend:hover,
#cancel-button:hover {
    background-color: darkslategray;
}

#cancel-button {
    background-color: slategray;
}

.friends-container {
    display: grid;
    width: 55vw;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2vw;
    margin-top: 2vh;
}

.friends-cell {
    display: flex;
    align-items: center;
    gap: 2vw;
}

.friends-name-button {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.error {
    color: red;
    font-style: italic;
    /* this is important for multiple error messages to be displayed on separate lines */
    white-space: pre-wrap;
    text-align: center;
}

.error-button {
    font-size: 0.8em;
    margin-top: 2vh;
}

#footer {
    position: fixed;
    bottom: 0;
}

#footer-illustration {
    position: fixed;
    bottom: 0;
    right: 2.5vw;
    width: 20vw;
    object-fit: contain;
    opacity: 0.7;
    z-index: -100;
}

#footnote {
    position: fixed;
    bottom: 0;
    left: 3vw;
    right: 0;
    font-size: 0.7em;
    opacity: 0.8;
    width: auto;
}

.profile-info {
    /* align to the right-most part of the flexbox */
    margin-left: auto;
    display: flex;
}

.dropdown {
    display: none;
    width: 14vw;
    /* background-color: rgba(211, 211, 211, 0.5); */
    position: fixed;
    right: 2vw;
    padding: 1vw;
    list-style-type: none;
    border: 1vw solid floralwhite;
    background-color: rgba(250, 128, 114, 0.2);
    border: 1px solid transparent;
    border-radius: 5px;
}

.dropdown li {
    margin-top: 2vh;
    cursor: pointer;
    color: slategray;
    text-decoration: underline;
}

.dropdown li:hover {
    color: darkslategray;
    text-decoration: underline;
}

.dropdown li:last-of-type {
    font-size: 0.9em;
    margin-top: 4vh;
    margin-bottom: 2vh;
}

.dropdown-arrow {
    align-self: flex-end;
    margin-left: auto;
}

.dropdown-arrow:hover .dropdown {
    display: block;
}

#online-users-panel {
    position: fixed;
    bottom: 0;
    z-index: 1;
    left: 65vw;
    /* background-color: rgba(211, 211, 211, 0.5); */
    width: 15vw;
    height: 28vh;
    padding: 2vh 2vw;
    overflow-y: auto;
    /* border-top: 2px solid darkorange;
    border-bottom: 2px solid darkorange; */
    background-color: rgba(250, 128, 114, 0.2);
    border-top: 2px solid salmon;
    border-bottom: 2px solid salmon;
}

.online-users {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: flex-start;
    gap: 1vw;
    margin-top: 3vh;
}

.online-user-row {
    display: flex;
    align-items: center;
    gap: 1vw;
}

#online-user-avatar {
    width: 4vw;
    height: 4vw;
    object-fit: cover;
    border: 1px solid transparent;
    border-radius: 50%;
}

.newuser-notify {
    color: green;
    font-size: 1em;
    font-weight: 600;
    position: fixed;
    width: 6vw;
    left: 75vw;
    animation: slideUp 2s ease-in;
}

.friend-notification {
    color: floralwhite;
    background-color: salmon;
    border: 1px solid salmon;
    margin-right: 1vw;
    border-radius: 5px;
    align-self: flex-end;
}

.friend-notification a {
    padding: 0.4vw;
    font-size: 0.9em;
    color: floralwhite;
    text-decoration: none;
    margin: auto;
    cursor: pointer;
    font-weight: bolder;
}

.wall {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    width: 45vw;
    gap: 1.5vh;
    margin: 5vh 0 5vh 16vw;
}

.wall-container {
    display: flex;
    flex-direction: column;
    width: 45vw;
    max-height: 40vh;
    justify-items: start;
    overflow-y: auto;
}

.wall-cell {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 7fr;
    justify-items: start;
    margin-bottom: 1.5vh;
    margin-top: 0.5vh;
    background-color: rgba(250, 128, 114, 0.2);
    border: 2px solid salmon;
    border-radius: 5px;
    padding: 3vh 3vw;
}

.wall-cell img {
    border: 1px solid transparent;
    border-radius: 50%;
    width: 4vw;
    height: 4vw;
    object-fit: cover;
}

.wall-post {
    margin-top: 1vh;
    line-height: 1.5em;
    grid-column: span 2;
}

.wall-post-header {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    margin-top: 1vh;
}

.wall-post-header p:last-of-type {
    font-size: 0.8em;
}

.wall-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@keyframes slideUp {
    0%,
    50% {
        transform: translateY(100%);
        opacity: 0;
    }

    60%,
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
