#registration,
#login,
#reset,
#send-code {
    /* width: 30vw; */
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

#registration,
#login,
#reset,
#send-code label {
    /* margin: 2vh 0; */
    font-size: 0.9em;
    font-weight: 500;
}

.errorfield {
    border-color: red;
}

.loggedout-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}

.loggedout-container img {
    width: 30vw;
}

.loggedin-container {
    display: flex;
    width: 95vw;
    justify-content: space-between;
    align-items: center;
    margin-top: 2vh;
}

.navmenu {
    display: flex;
    width: 45vw;
    justify-content: space-around;
    background-color: salmon;
    padding: 1vh 1vw;
    gap: 1vw;
    clip-path: polygon(3% 0%, 100% 0%, 97% 100%, 0% 100%);
    font-size: 1.5 em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}
.navmenu a {
    color: darkslategrey;
    text-decoration: none;
}

.active {
    color: snow !important;
    text-decoration: none;
}

/* .profile-container {
    align-self: flex-start;
    width: 20vw;
    gap: 2vh;
    display: flex;
    flex-direction: column;
} */

.profile-container {
    align-self: flex-start;
    display: grid;
    width: 60vw;
    grid-template-columns: 1fr 2fr;
    /* justify-items: start;
    align-items: flex-start; */
    margin-top: 5vh;
}

.profile-container #avatar {
    border-radius: 5%;
    width: 15vw;
    height: 15vw;
}

.name-bio-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#bio {
    line-height: 1.5em;
    margin-top: 2vh;
    font-size: 0.9em;
}
.uploader-container {
    width: 30vw;
    position: fixed;
    align-self: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.overlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    /* stretch the overlay */
    inset: 0;
    z-index: 99;
}

#uploader {
    background-color: whitesmoke;
    border: 1px solid salmon;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vw;
    width: 100%;
    gap: 1vh;
}

#close-uploader {
    align-self: flex-end;
    cursor: default;
    margin: 0;
    font-size: 1em;
    font-family: "Montserrat", sans-serif;
}

#upload-avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#avatar {
    width: 6vw;
    height: 6vw;
    object-fit: cover;
    border: 1px solid transparent;
    border-radius: 50%;
}

#logo {
    width: 10vw;
    object-fit: contain;
}

/* .editor-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2vh;
} */

.people,
.friends {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
    margin-top: 3vh;
    align-items: flex-start;
}

.people-container {
    /* align-self: flex-start; */
    display: grid;
    width: 30vw;
    grid-template-columns: 1fr 1fr;
    justify-items: start;
    align-items: center;
    margin-top: 1vh;
}

.people-container img,
.friends-container img {
    border-radius: 5%;
    width: 8vw;
    height: 8vw;
    object-fit: cover;
}

hr {
    align-self: stretch;
}

.other-profile-container img {
    border-radius: 5%;
    width: 12vw;
    height: 12vw;
    object-fit: cover;
}

button,
#submit {
    background-color: salmon;
    color: floralwhite;
    font-size: 0.9em;
    text-transform: uppercase;
    font-weight: 400;
    border: 1px solid transparent;
    border-radius: 6px;
    padding: 0.7vw;
    margin-top: 1.5vh;
}

#submit {
    font-size: 1.2em;
}

button:hover,
#submit:hover {
    background-color: darkorange;
}

button:active,
#submit:active {
    transform: translateY(2px);
}

.friend-button {
    font-size: 0.9em;
    text-transform: none;
    padding: 0.5vw;
    letter-spacing: 0.05em;
    margin-top: 2vh;
}

.friend-button:hover {
    background-color: darkorange;
}

.deny-friend-button,
.unfriend {
    background-color: slategray;
    font-size: 0.9em;
    text-transform: none;
    padding: 0.5vw;
    letter-spacing: 0.05em;
    margin-top: 2vh;
}

.deny-friend-button:hover,
.unfriend:hover,
#cancel-button:hover {
    background-color: darkslategray;
}

#cancel-button {
    background-color: slategray;
}

.friends-container {
    display: grid;
    width: 75vw;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2vw;
    margin-top: 2vh;
}

/* .friends h3 {
    margin-top: 2vh; 
} */

.friends-cell {
    display: flex;
    align-items: center;
    gap: 2vw;
}

.friends-name-button {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.error {
    color: red;
    font-style: italic;
    /* this is important for multiple error messages to be displayed on separate lines */
    white-space: pre-wrap;
    text-align: center;
}

.error-button {
    font-size: 0.8em;
    margin-top: 2vh;
}
